body{
    height: 661px !important;
    width: 472px !important;
    zoom: 200%;
    text-align: center;
    margin: 0 auto !important;
}
#graph-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    height: 36%;
    max-height: 900px;
}

.marginBotLeft{
    margin-bottom: 6px;
    margin-left: 10px;
}

#grid{
    display: grid;
    margin: 20px
}