body{
    height: 661px !important;
    width: 472px !important;
    zoom: 150%;
    text-align: center;
    margin: 0 auto !important;
}

.gridResults{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.cell {
    border: 1px solid #000;
    padding: 8px;
  }